<div class="row" style="padding-top:40px">
    <div class="col-xs-12">
        <div class="well">

            <table class="table table-hover table-responsive">
                <thead>
                    <tr>
                        <th>Titulo</th>
                        <th>Qtd. páginas</th>
                        <th>Data publicação</th>
                        <th>Alterar</th>
                        <th>Remover</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <a href="alterar-livro?id="><span class="glyphicon glyphicon-pencil"></span></a>
                        </td>
                        <td>
                            <a href="remover-livro?id="><span class="glyphicon glyphicon-trash text-danger"></span></a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">Total de registros: </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>